:root{
    --ms-blue-color: #1B72E8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* DEBUG */
.debug #ms-main-bottom{
    background-color: cornflowerblue;
}



.debug #ms-main-bottom .row > div{
    height: 100px;
    background-color: cornflowerblue;
    border: solid 1px black;
}



/* RULES */
header{
    height: 80px;
}

aside{
    height: calc(100vh - 80px);
    background-color: #000a32f0;
    background-image: url('../img/sidebar-bg.png');
}

.ms-main-container{
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

a.dropdown-toggle i{
    color: orange;
    line-height: 80px;
    font-size: 30px;
}

a.dropdown-toggle::after{
    display: none;
}

header .row .col-1 i.fa-search, header .row .col-11 input.form-control{
    line-height: 80px  ;
}

::-webkit-scrollbar{
    display: none;
}

li{
    list-style-type: none;
}

#ms-main-top{
    background-color: var(--ms-blue-color);
}

.personaliz-search{
    border: 0;
    background-color: #E5E5E5;
}


.ms-bttn{
    width: auto;
    padding: 5px 15px;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
}

.ms-bttn-clean{
    background-color: #0D6DFD;
    color: white;
}

.ms-bttn-save{
    background-color: #FFC107;
}

header .row .input-group{
    height: 50px;
}

.ms-logo-desktop{
    display: none;
}


/* MEDIA QUERY */
/* A partire da...TABLET  [MD] */
@media screen and (min-width: 768px){
    
}


/* A partire da...DESKTOP  [LG] */
@media screen and (min-width: 992px){
    .ms-logo-mobile{
        display: none;
    }

    .ms-logo-desktop{
        display: block;
        line-height: 80px;
    }

    a.dropdown-toggle i{
        font-size: 15px;
    }
}