*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* DEBUG */
.debug header{
    background-color: bisque;
}

.debug main{
    background-color: aqua;
}

.debug aside{
    background-color: rgb(2, 2, 53);
}

.debug .ms-main-container{
    background-color: rgb(70, 209, 86);
}

.debug #ms-main-top{
    background-color: blueviolet;
    height: 250px;
}
.debug #ms-main-bottom{
    background-color: cornflowerblue;
}

.debug .ms-aside-top, .debug .ms-aside-bottom{
    height: 50px;
    background-color: brown;
}


/* RULES */
header{
    height: 80px;
}

aside{
    height: calc(100vh - 80px);
}

.ms-main-container{
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

#ms-main-top{
}
#ms-main-bottom{
}


/* MEDIA QUERY */
/* A partire da...TABLET  [MD] */
@media screen and (min-width: 768px){
    
}


/* A partire da...DESKTOP  [LG] */
@media screen and (min-width: 992px){
    
}